*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    min-height: calc(100vh - 62px);
    padding: 10px;
    background: url(./images/bg.jpg);
    background-size: cover;
}
.todo_app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo_app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todo_app img{
    width: 35px;
    margin-left: 15px;
}
.todo_app .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.todo_app .row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
.todo_app .row  button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul{
    justify-content: space-between;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 45px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
ul li::before{
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li i{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 22px;
    color: #555555cd;
    line-height: 50px;
    border-radius: 50%;
    padding: 13px 15px;
}
ul li i:hover{
    background: #edeef0;
    color: red;
}